* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
html, body {
  height: 100%;
}

.name {
  font-size: 2em;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.header {
  background-color: 	#282828;
  color: white;
  padding: 20px;
}
.parallax {
    /* The image used */
    background-image: url('img/speaker.jpg');

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar {
  float: right;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li  {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  position: relative;
}
li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
li a:hover {
  color: #F415ED;
}
.active {
  background-color: #4caf50;
  color: white;
}
.header-img {
  float: left;

}
